{% extends "base.html" %} {% block title %}Detail-post {% endblock title %}{% block content %}
<div class="container d-flex align-items-center justify-content-center ">
    <div class="card mt-5 col-lg-7   center" style="border-color:transparent">
        <h1 class="mx-2 mt-3 ">{{post.title}}</h1>
        <h4 class='mx-2 ' style="color:red">| A blog by {{post.author}}</h4>
        {% if post.image1 %}


        <img style="width:auto;height: 400px;" src="{{post.first_image.url}}" class="d-block w-100" alt="..."> {% endif %}
        <p class="mx-2 mt-2">{{post.paragraph_1}}</p>
        {% if post.heading2 %}
        <h2 class='mx-2'>{{post.heading_2}}:</h2>

        {% endif %} {% if post.image2 %}
        <img style="width:auto;height: 400px;" src="{{post.second_image.url}}" class="d-block w-100" alt="..."> {% endif %}
        <p class="mx-2 mt-2">{{post.paragraph_2}}</p>
        {% if post.heading3 %}
        <h2 class='mx-2'>{{post.heading_3}}:</h2>

        {% endif %} {% if post.image3 %}


        <img style="width:auto;height: 400px;" src="{{post.third_image.url}}" class="d-block w-100" alt="..."> {% endif %}
        <p class="mx-2 mt-2">{{post.paragraph_3}}</p>
        {% if post.heading4 %}
        <h2 class='mx-2'>{{post.heading_4}}:</h2>

        {% endif %} {% if post.image4 %}


        <img style="width:auto;height: 400px;" src="{{post.fourth_image.url}}" class="d-block w-100" alt="..."> {% endif %}
        <p class="mx-2 mt-2">{{post.paragraph_4}}</p>
        {% if post.link1 %}
        <h3 class="text-danger">Link:</h3> <a class='mx-3 mb-3' href="{{post.link_1_url}}">{{post.link_1}}</a> {% endif %} {% if post.link2 %}
        <h3 class="text-danger">Link:</h3> <a class='mx-3 mb-3' href="{{post.link_2_url}}">{{post.link_2}}</a> {% endif %}


    </div>
</div>

{% endblock content %}